html {
  background-color: #e0fff5;
}

body {
  /* margin: 0 auto; */
  /* width: 100%; */
  /* text-align: center; */
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#quizContainer {
  margin: 0 auto;
  text-align: left;
}

#header {
  background-color: #c1b098;
  font: oblique bold 35px Georgia;
  color: #6d4c3d;
  margin: 0 auto;
  padding: 10px;
}

.question {
  margin: 0 auto 0 auto;
  padding: 10px;
  background-color: #6d4c3d;
  color: #efd6d2;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.questionText {
  font-size: 30px;
}

.selection-set {
  list-style: none;
}

.selection-set li {
  padding: 5px;
}

.selection-set li input {
  margin-right: 5px;
}

.submitButton {
  margin: 20px;
}

#answers-page {
  background-color: #6d4c3d;
}

#results {
  margin: 0 auto;
  padding: 20px;
  color: #efd6d2;
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#results-pic {
  max-width: 45%; 
  height: auto;
  margin: 0 auto;
}

.hidden {
  display: none;
}
